<div class="main-container">
  <div class="login-wrapper">
    <form class="login">
      <label class="title">
        AKONI WebAPI
      </label>
      <div class="login-group">
        <div class="auth-source select">
          <select id="login-auth-source-1">
            <option>Local Users</option>
            <option>Administrator</option>
          </select>
        </div>
        <input class="username" type="text" id="login_username" [(ngModel)]="currentUser.username" name="username">
        <input class="password" type="password" id="login_password" [(ngModel)]="currentUser.password" name="password">
        <div class="checkbox">
          <input type="checkbox" id="rememberme">
          <label for="rememberme">
            Remember me
          </label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="login()">LOG IN</button>
        <a href="..." class="signup">Sign up for an account</a>
      </div>
    </form>
  </div>
</div>
