<div class="main-container">
  <header class="header-4">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">AKONI WebAPI</span>
      </a>
    </div>
    <div class="header-actions">
      <a routerLink="/log-out" class="nav-link nav-text">Log Out</a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="top-products" routerLinkActive="active">Top Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products-list" routerLinkActive="active">All Products</a>
      </li>

    </ul>
  </nav>

  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
