<h2>
  All Products!
</h2>

<clr-datagrid *ngIf="datagridLoaded">
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgSortBy]="productComparator">Rate</clr-dg-column>
  <clr-dg-column [clrDgField]="'rateType'">Rate Type</clr-dg-column>

  <clr-dg-row *ngFor="let item of data">
    <clr-dg-cell>{{ item.name}}</clr-dg-cell>
    <clr-dg-cell>{{ item.rate }}</clr-dg-cell>
    <clr-dg-cell>{{ item.rateType }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>{{ data.length }} products</clr-dg-footer>
</clr-datagrid>
