<h2>
  Top 3 Products!
</h2>

<clr-datagrid *ngIf="datagridLoaded">
  <clr-dg-column>Name</clr-dg-column>
  <clr-dg-column>Rate</clr-dg-column>
  <clr-dg-column>Rate Type</clr-dg-column>

  <clr-dg-row *ngFor="let item of data">
    <clr-dg-cell>{{ item.name}}</clr-dg-cell>
    <clr-dg-cell>{{ item.rate }}</clr-dg-cell>
    <clr-dg-cell>{{ item.rateType }}</clr-dg-cell>
  </clr-dg-row>
</clr-datagrid>
